/* CSS Document*/

.left_content
{
    width:196px;
    float: left;
}
.title_box
{
    width: 196px;
    height: 30px;
    background: url(../images/tim.jpg) no-repeat center;
    margin: 5px 0 0 0;
    text-align: center;
    font-size 13px;
    font-weight: bold;
    color:White;
    line-height:30px;
    
}
ul.left_menu
{
    width: 196px;
    list-style: none;
    
}
ul.left_menu li
{
    list-style: none;
    
}
ul.left_menu li.lẻ a
{
    width: 166px;
    height: 30px;
    display: block;
    background: url(../images/21.jpg) no-repeat left;
    text-decoration: none;
    color:Black;
    line-height:30px;
    background-position: 1px 5px;
    padding: 0 0 0 30px;   
}
ul.left_menu li.chẵn a
{
    width: 166px;
    height: 30px;
    display: block;
    background: url(../images/20.jpg) no-repeat left ;
    text-decoration: none;
    color:Black;
    line-height:30px;
    background-position: 1px 5px;
    padding: 0 0 0 30px;   
}
ul.left_menu li.lẻ a:hover, ul.left_menu li.chẵn a:hover
{
    background: url(../images/20.jpg) no-repeat left #7bbcc7;
    color:White;
    background-position: 1px 5px;
}
.border_box
{
    width: 194px;
    height: auto;
    text-align: center;
    border-color:Black; 
}
.product_title
{
    color:Red;
    padding: 5px 0;
    font-weight: bold;
    
}
.product_title a
{
    color:Red;
    text-decoration: none;
    
}
.product_title a:hover
{
    color:Blue;
}
.product_img
{
    padding: 5px 0;
    
}
.product_price
{
    padding: 5px 0;
}
span.reduce
{
    text-decoration: line-through;
    color:Black;
}
span.price
{
    color:Black;
}
.news
{
    width: 160px;
    height: 16px;
    border-color: Blue;
    font-size:12px;
    color:Black;
    margin: 10px 0 5px 0;
    padding: 3px;
}
a.join
{
    width: 17px;
    display: block;
    margin: 5px 0 5px 140px;
    padding: 0 0 0 20px;
    text-decoration: none;
    color:Green;
    background: url(../images/onebit_34.png) no-repeat left;
    
}
.banner_adds
{
    width: 194px;
    text-align: center;
    padding: 20px 0;
    
}