/*CSS Document*/

#menu_tab
{
    width: 1000px;
    height: 50px;
}
.left_menu_corner
{
    width: 9px;
    height: 50px;
    float: left;
    background: url(../images/12.png) no-repeat center;
}
.right_menu_corner
{
    width: 9px;
    height: 50px;
    float: left;
    background: url(../images/12.png) no-repeat center;
}
ul.menu
{
    width: 982px;
    float:left;
    background: url(../images/12.png) repeat-x; 
    list-style-type: none;
}
ul.menu li
{
    display: inline;
    font-size: 11px;
    font-weight: bold;
    line-height: 50px;
}
ul.menu li.divider
{
    display:inline;
    width: 2px;
    height:50px;
    float:left;
    background:url(../images/9.jpg) no-repeat center;
}
ul.menu li a, ul.menu li a:visited
{
    display:block;
    float:left;
    padding: 0 8px 0 22px;
    margin: 0 14px;
    height:50px;
    text-decoration: none;
    color:Black;
}
#nav_hom
{
    background: url(../images/house_2.png) no-repeat left;
}
#nav_pro
{
    background: url(../images/t_shirt.png) no-repeat left;
}
#nav_spe
{
    background: url(../images/good.png) no-repeat left;
}
#nav_acc
{
    background: url(../images/user_male_16.png) no-repeat left;
}
#nav_sig
{
    background: url(../images/new_mail.png) no-repeat left;
}
#nav_shi
{
    background: url(../images/shipping.png) no-repeat left;
}
#nav_con
{
    background: url(../images/phone_number.png) no-repeat left;
}
li.Tiền tệ
{
    width: 180px;
    float: left;
    padding: 0 0 0 15px;
    color: Black;
    font-size: 15px;
    font-weight: bold;
}