/*css document*/
*
{
    margin: 0px;
    padding: 0px;
}
.clr 
{
    clear: both;

}
body
{
    background: url(../images/web-background.jpg) center top no-repeat ;
    font-family: Arial;
    font-size: 15px;
    
}
.main
{   
    width: 1000px;
    margin: 0px auto;
}
.top
{
    witdh: 1000px;
    height: 38px;
    background-color:#232323
}
.search
{
    width: 400px;
    height: 36px;
    float: right;
    background: url(../images/1.jpg) center top no-repeat ;
    margin-right: 20px;
}
.search .search_text
{
    padding: 8px 0 0 15px;
    float:left;
    width: 110px;
    color:Green;
    
}
.search .search_text a
{
    color:Gray;
    text-decoration: none;    
}
.search .search_input
{
    width: 182px;
    height: 18px;
    margin-top: 5px;
    border-width:2px;   
    float: left;
    border-bottom-color:Blue;
    border-right-color:Blue;
}
.search .search_bt
{
    float: left;
    padding: 2px 0 0 10px;
}

